<!DOCTYPE html>

<html>

<head>

<title>{{player.name}}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>{{player.name}}</h1>

<p><b>Team:</b> {{player.team}}</p>

<p><b>Role:</b> {{player.role}}</p>

<p><b>Matches:</b> {{player.matches}}</p>

{% if player.role == "bowler" %}

<p><b>Wickets:</b> {{player.wickets}}</p>

{% else %}

<p><b>Runs:</b> {{player.runs}}</p>

{% endif %}

<p><b>Strike Rate:</b> {{player.strike_rate}}</p>

<hr>

<h2>💰 Current Auction Price: ₹{{player.price}} Cr</h2>

<form method="POST">

<input type="number" name="price" min="{{player.price + 1}}" required>

<button type="submit">Place Bid</button>

</form>

<br>

<a href="/">⬅ Back</a>

</body>

</html>
